<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>TechSightExplorers</h4>
                <ul>
                    <li><a href="#">Quem somos?</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="/members">Integrantes</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Links</h4>
                <ul>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">PHP</a></li>
                    <li><a href="#">SQL</a></li>
                    <li><a href="#">HTML</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Links</h4>
                <ul>
                    <li><a href="#">C++</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">Javascript</a></li>
                    <li><a href="#">C</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Redes sociais</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>