<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="footer-dark" th:fragment="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Serviços</h3>
                    <ul>
                        <li><a href="#">Lógica de Programação</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">Python</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Sobre</h3>
                    <ul>
                        <li><a href="#">Quem somos?</a></li>
                        <li><a href="#">Integrantes</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>TechSightExplorers</h3>
                    <p>
                        TechSightExplorers: Sua plataforma para iniciar e crescer na carreira em TI,
                        com conteúdo em português sobre tecnologias como Java e Python.
                        Acesse trilhas de aprendizado, tutoriais, vídeos e artigos para uma
                        formação completa e prática, do básico ao avançado.
                    </p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">TechSightExplorers © 2024</p>
        </div>
    </footer>
</div>

</body>
</html>