<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header th:fragment="header">
    <div class="search-box">
        <form action="">
            <input type="text" name="search" id="srch">
            <button type=submit><i class='bx bx-search-alt-2'></i></button>
        </form>
    </div>

    <img class="logo" src="/images/logo-tcse.png" alt="Logo">

    <ul class="nav-bar">
        <li><a href="/">Início</a></li>
        <li><a href="/">Conteúdos</a></li>
    </ul>


    <div class="user-part" sec:authorize="!isAuthenticated()">
        <a href="/login" class="user"><i class='bx bx-user'></i> Entrar</a>
        <a href="/register">Cadastrar</a>
    </div>

    <!-- Caso o usuário esteja autenticado -->
    <div class="user-part" sec:authorize="isAuthenticated()">
        <!-- Link para sair da conta -->
        <a th:href="@{/logout}" class="logout">
            <i class='bx bx-exit'></i>SAIR
        </a>
    </div>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>

</body>

</html>