<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header class="header" th:fragment="header">
    <div class="search-bar">
        <input type="text" placeholder="Tutoriais, Python, Java">
        <button type="submit">&#128269;</button>
    </div>
    <div class="logo">
        <img src="/images/logo.png" alt="TechSight Explorers">
    </div>
    <div class="option-nav">
        <span>Início</span>
        <span>Conteúdos</span>
        <span>Vídeos</span>
    </div>
    <div class="icons">
        <span><img src="/images/github-mark.png" alt="GitHub"></span>
    </div>
</header>

</body>

</html>