<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechSight Explorers</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

<div th:replace="~{/fragments/header :: header}"></div>

<main>
  <div class="title">
    <span>Linguagens de Programação</span>
  </div>
  <section class="languages">
    <div class="language-card">
      <img src="/images/Java.png" alt="Java">
      <button onclick="window.location.href='/menu'">INICIAR</button>
    </div>
    <div class="language-card">
      <img src="/images/c++.png" alt="C++">
      <button>INICIAR</button>
    </div>
    <div class="language-card">
      <img src="/images/php.png" alt="PHP">
      <button>INICIAR</button>
    </div>
    <div class="language-card">
      <img src="/images/python.png" alt="Python">
      <button>INICIAR</button>
    </div>
    <div class="language-card">
      <img src="/images/javascript.png" alt="JavaScript">
      <button>INICIAR</button>
    </div>
  </section>

  <div class="title">
    <span>Conteúdo</span>
  </div>
  <section class="topics">
    <div class="topic-card">
      <img src="/images/img logica de programacao.jpg" alt="Lógica de Programação">
      <span>Lógica de Programação</span>
      <button>&#10140;</button>
    </div>
    <div class="topic-card">
      <img src="/images/imagem Estrutura de dados e algoritmos.jpg" alt="Estrutura de Dados e Algoritmos">
      <span>Estrutura de Dados e Algoritmos</span>
      <button>&#10140;</button>
    </div>
    <div class="topic-card">
      <img src="/images/IA img.jpg" alt="Inteligência Artificial">
      <span>Inteligência Artificial</span>
      <button>&#10140;</button>
    </div>
    <div class="topic-card">
      <img src="/images/MachineLearning img.jpg" alt="Machine Learning">
      <span>Machine Learning</span>
      <button>&#10140;</button>
    </div>
    <div class="topic-card">
      <img src="/images/MySQL img.jpg" alt="MySQL">
      <span>MySQL</span>
      <button>&#10140;</button>
    </div>
    <div class="topic-card">
      <img src="/images/desenvolvimento web img.jpg" alt="Desenvolvimento Web">
      <span>Desenvolvimento Web</span>
      <button>&#10140;</button>
    </div>
  </section>
</main>

<div th:replace="~{/fragments/footer :: footer}"></div>


<!--JS LINK-->
<script src="/js/script.js"></script>
</body>
</html>
