<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechSight Explorers</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<header class="header">
  <div class="search-bar">
    <input type="text" placeholder="Tutoriais, Python, Java">
    <button type="submit">&#128269;</button>
  </div>
  <div class="logo">
    <img src="/images/logo.png" alt="TechSight Explorers">
  </div>
  <div class="icons">
    <span><img src="/images/github-mark.png" alt="GitHub"></span>
  </div>
</header>

<main>
  <section class="languages">
    <div class="language-card">
      <img src="/images/Java.png" alt="Java">
      <button>INICIAR</button>
    </div>
    <div class="language-card">
      <img src="/images/c++.png" alt="C++">
      <button>INICIAR</button>
    </div>
    <div class="language-card">
      <img src="/images/php.png" alt="PHP">
      <button>INICIAR</button>
    </div>
    <div class="language-card">
      <img src="/images/python.png" alt="Python">
      <button>INICIAR</button>
    </div>
    <div class="language-card">
      <img src="/images/javascript.png" alt="JavaScript">
      <button>INICIAR</button>
    </div>
  </section>

  <section class="topics">
    <div class="topic-card">
      <img src="/images/img logica de programacao.jpg" alt="Lógica de Programação">
      <span>Lógica de Programação</span>
      <button>&#10140;</button>
    </div>
    <div class="topic-card">
      <img src="/images/imagem Estrutura de dados e algoritmos.jpg" alt="Estrutura de Dados e Algoritmos">
      <span>Estrutura de Dados e Algoritmos</span>
      <button>&#10140;</button>
    </div>
    <div class="topic-card">
      <img src="/images/IA img.jpg" alt="Inteligência Artificial">
      <span>Inteligência Artificial</span>
      <button>&#10140;</button>
    </div>
    <div class="topic-card">
      <img src="/images/MachineLearning img.jpg" alt="Machine Learning">
      <span>Machine Learning</span>
      <button>&#10140;</button>
    </div>
    <div class="topic-card">
      <img src="/images/MySQL img.jpg" alt="MySQL">
      <span>MySQL</span>
      <button>&#10140;</button>
    </div>
    <div class="topic-card">
      <img src="/images/desenvolvimento web img.jpg" alt="Desenvolvimento Web">
      <span>Desenvolvimento Web</span>
      <button>&#10140;</button>
    </div>
  </section>
</main>
</body>

</html>
