<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login TSE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <img src="imagens/logo-tse.png" alt="Logo TechSight Exploreres">
    </div>
    <div class="login-container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="example@email.com" required>
            <label for="senha">Senha</label>
            <input type="password" name="password" placeholder="senha" required>
            <a href="#" class="forgot-password">Esqueceu a senha?</a>
            <a href="#" class="button">Entrar</a>
        </form>
        <p>Não possui cadastro? <a href="#">Cadastrar-se</a></p>
    </div>
</body>
</html>