<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login TSE</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body class="login-page">
    <div th:replace="~{/fragments/header :: header}"></div>
    <div class="login-container">
        <h1>Login</h1>

        <div th:if="${param.error}">
            <div class="alert alert-danger">Email ou Senha inválido!!!</div>
        </div>

        <div th:if="${param.logout}">
            <div class="alert alert-success">Você está desconectado!!!</div>
        </div>

        <form method="post"
              role="form"
              th:action="@{/login}">
            <label>E-mail</label>
            <input type="email" id="username" name="username" placeholder="example@email.com" required>
            <label for="password">Senha</label>
            <input id="password" type="password" name="password" placeholder="12345" required>
            <a th:href="@{/forgotPassword}" class="forgot-password">Esqueceu a senha?</a>
            <button class="buttonEntrar"> Entrar </button>
        </form>
        <p>Não possui cadastro? <a th:href="@{/register}">Cadastrar-se</a></p>
    </div>
    <div th:replace="~{/fragments/footer :: footer}"></div>
    <!--JS LINK-->
    <script src="/js/script.js"></script>
</body>
</html>