<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Integrantes</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body class="integrantes-page">
<div th:replace="~{/fragments/header :: header}"></div>
  <main class="main-integrantes">
    <div class="team-container">
      <div class="member-card">
        <img class="photo" src="images/viniciusBispo.png" alt="Vinícius Bispo">
        <h2>Vinícius Bispo</h2>
        <div class="icons">
          <img src="images/Github.png" alt="Icon 1">
          <img src="images/Instagram.png" alt="Icon 2">
          <img src="images/Linkedin.png" alt="Icon 3">
        </div>
      </div>
      <div class="member-card">
        <img class="photo" src="images/Daniel.png" alt="Daniel">
        <h2>Daniel Umberto</h2>
        <div class="icons-integrantes">
          <img src="images/Github.png" alt="Icon 1">
          <img src="images/Instagram.png" alt="Icon 2">
          <img src="images/Linkedin.png" alt="Icon 3">
        </div>
      </div>
      <div class="member-card">
        <img class="photo" src="images/Khaled.png" alt="Khaled">
        <h2>Khaled Ahmed</h2>
        <div class="icons">
          <img src="images/Github.png" alt="Icon 1">
          <img src="images/Instagram.png" alt="Icon 2">
          <img src="images/Linkedin.png" alt="Icon 3">
        </div>
      </div>
      <div class="member-card">
        <img class="photo" src="images/Kauan.png" alt="Kauan">
        <h2>Kauan Davi</h2>
        <div class="icons">
          <img src="images/Github.png" alt="Icon 1">
          <img src="images/Instagram.png" alt="Icon 2">
          <img src="images/Linkedin.png" alt="Icon 3">
        </div>
      </div>
      <div class="member-card">
        <img class="photo" src="images/João.png" alt="João Guilherme">
        <h2>João Guilherme</h2>
        <div class="icons">
          <img src="images/Github.png" alt="Icon 1">
          <img src="images/Instagram.png" alt="Icon 2">
          <img src="images/Linkedin.png" alt="Icon 3">
        </div>
      </div>
      <div class="member-card">
        <img class="photo" src="images/viniciusAraujo.png" alt="Vinícius de Araújo">
        <h2>Vinícius de Araújo</h2>
        <div class="icons">
          <img src="images/Github.png" alt="Icon 1">
          <img src="images/Instagram.png" alt="Icon 2">
          <img src="images/Linkedin.png" alt="Icon 3">
        </div>
      </div>
    </div>
  </main>
<div th:replace="~{/fragments/footer :: footer}"></div>

<!--JS LINK-->
<script src="/js/script.js"></script>
</body>
</html>
