<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechSight Explorers</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefinição de Senha - TSE</title>
  <link rel="stylesheet" href="redefinir-senha.css">
</head>
<body class="redefinir-page">
<div th:replace="/fragments/header :: header"></div>
<div class="redefinir-container">
  <h1 class="redefinir-h1">Redefinição de Senha</h1>
  <form action="/redefinir-senha" method="post">
    <input type="hidden" name="token" value="<!-- token de redefinição -->">
    <label class="confirmarSenhaLabel" for="nova-senha">Nova senha</label>
    <input type="passwordRedefinir" id="nova-senha" name="nova-senha" placeholder="Nova Senha" required>

    <label class="confirmarSenhaLabel" for="confirmar-senha">Confirmar Senha</label>
    <input type="passwordRedefinir" id="confirmar-senha" name="confirmar-senha" placeholder="Confirmar Senha" required>
    <a href="#" class="buttonRedefinir">Redefinir Senha</a>
  </form>
</div>
<div th:replace="~{/fragments/footer :: footer}"></div>

<!--JS LINK-->
<script src="/js/script.js"></script>
</body>
</html>