<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body class="register-page">
<div th:replace="~{/fragments/header :: header}"></div>
    <div class="container-register">

        <div class="form-container-register">
            <h1>Criar Conta</h1>
            <form action="#" method="POST">
                <label for="username">Nome do Usuário</label>
                <input type="text" id="username" name="username" placeholder="Digite seu nome">

                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail">

                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha">

                <label for="confirm-password">Confirmar senha</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirme sua senha">

                <button class="button-register" type="submit">Inscrever-se</button>
            </form>
        </div>
    </div>
<div th:replace="~{/fragments/footer :: footer}"></div>

<!--JS LINK-->
<script src="/js/script.js"></script>
</body>
</html>
