<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="img/logo.png" alt="">
        </header>

        <div class="form-container">
            <h1>Criar Conta</h1>
            <form action="#" method="POST">
                <label for="username">Nome do Usuário</label>
                <input type="text" id="username" name="username" placeholder="Digite seu nome">

                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail">

                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha">

                <label for="confirm-password">Confirmar senha</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirme sua senha">

                <button type="submit">Inscrever-se</button>
            </form>
        </div>
    </div>
</body>
</html>
