<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redefinir senha</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body class="email-page">

<!-- Header -->
<div th:replace="~{/fragments/header :: header}"></div>

<!-- Conteúdo principal -->
<div class="email-container">
        <h1>Redefinir Senha</h1>
        <form>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="example@email.com" required>
            <button type="submit">Enviar</button>
        </form>
</div>

<!-- Footer -->
<div th:replace="~{/fragments/footer :: footer}"></div>

<!--JS LINK-->
<script src="/js/script.js"></script>

</body>
</html>